---
# GitHub Actions workflow for LaTeX document building
# Compiles LaTeX documents and uploads build artifacts
# https://github.com/latex3/latex2e
name: latex-build

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - "**.tex"
      - .github/workflows/latex-build.yml

permissions: read-all

jobs:
  latex-build:
    # ghcr.io/xu-cheng/texlive-full doesn't support arm64
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run script to build document
        id: build
        run: |
          ./run.sh
          FILE_NAME=$(find ./*.tex | sed 's@^\./\(.*\)\.tex@\1@')
          echo "file_name=${FILE_NAME}" >> "${GITHUB_OUTPUT}"

      - name: Upload artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: latex-build
          path: ${{ steps.build.outputs.file_name }}.*
          retention-days: 1
