---
# GitHub Actions workflow for LaTeX document building
# Compiles LaTeX documents and uploads build artifacts
# https://github.com/latex3/latex2e
name: latex-build

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - "**.tex"
      - .github/workflows/latex-build.yml

permissions: read-all

jobs:
  latex-build:
    # ghcr.io/xu-cheng/texlive-full doesn't support arm64
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Run script to build document
        id: build
        run: |
          ./run.sh
          FILE_NAME=$(find ./*.tex | sed 's@^\./\(.*\)\.tex@\1@')
          echo "file_name=${FILE_NAME}" >> "${GITHUB_OUTPUT}"

      - name: Upload artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: latex-build
          path: ${{ steps.build.outputs.file_name }}.*
          retention-days: 1
