---
# GitHub Actions workflow for LaTeX document building
# Compiles LaTeX documents and uploads build artifacts
# https://github.com/latex3/latex2e
name: latex-build

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - main
    paths:
      - "**.tex"
      - .github/workflows/latex-build.yml

permissions: read-all

jobs:
  latex-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: Run script to build document
        id: build
        run: |
          ./run.sh
          FILE_NAME=$(find ./*.tex | sed 's@^\./\(.*\)\.tex@\1@')
          echo "file_name=${FILE_NAME}" >> "${GITHUB_OUTPUT}"

      - name: Upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: latex-build
          path: ${{ steps.build.outputs.file_name }}.*
          retention-days: 1
